{% include "includes/report_styles_moat_score_rows_label_typography.html.j2" %}
{% include "includes/report_styles_moat_score_rows_label_tone.html.j2" %}
{% include "includes/report_styles_moat_score_rows_label_width.html.j2" %}
{% include "includes/report_styles_moat_score_rows_label_shrink.html.j2" %}
