        {% include "includes/report_styles_tear_sheet_body_typography.html.j2" %}
        {% include "includes/report_styles_tear_sheet_body_tone.html.j2" %}
        {% include "includes/report_styles_tear_sheet_body_rhythm.html.j2" %}
        {% include "includes/report_styles_tear_sheet_body_spacing.html.j2" %}
