{% include "includes/report_styles_responsive_layout_tablet_shell.html.j2" %}
{% include "includes/report_styles_responsive_layout_tablet_reading.html.j2" %}
{% include "includes/report_styles_responsive_layout_tablet_grids.html.j2" %}
