{% include "includes/report_styles_section_data_table_cells_row_states_last_row.html.j2" %}
{% include "includes/report_styles_section_data_table_cells_row_states_striping.html.j2" %}
{% include "includes/report_styles_section_data_table_cells_row_states_hover.html.j2" %}
