        {% include "includes/report_styles_verdict_banner_icon_layout_display.html.j2" %}
        {% include "includes/report_styles_verdict_banner_icon_layout_alignment.html.j2" %}
        {% include "includes/report_styles_verdict_banner_icon_layout_justification.html.j2" %}
