        {% include "includes/report_styles_overview_cover_heading_kicker_typography.html.j2" %}
        {% include "includes/report_styles_overview_cover_heading_kicker_tone.html.j2" %}
        {% include "includes/report_styles_overview_cover_heading_kicker_case_tracking.html.j2" %}
        {% include "includes/report_styles_overview_cover_heading_kicker_spacing.html.j2" %}
