        {% include "includes/report_styles_overview_hero_badge_layout_display.html.j2" %}
        {% include "includes/report_styles_overview_hero_badge_layout_alignment.html.j2" %}
        {% include "includes/report_styles_overview_hero_badge_layout_gap.html.j2" %}
