        {% include "includes/report_styles_verdict_banner_icon_frame.html.j2" %}
        {% include "includes/report_styles_verdict_banner_icon_accent.html.j2" %}
        {% include "includes/report_styles_verdict_banner_icon_shape.html.j2" %}
        {% include "includes/report_styles_verdict_banner_icon_layout.html.j2" %}
        {% include "includes/report_styles_verdict_banner_icon_typography.html.j2" %}
