{% include "includes/report_styles_execution_summary_head_text_title_size.html.j2" %}
{% include "includes/report_styles_execution_summary_head_text_title_weight.html.j2" %}
{% include "includes/report_styles_execution_summary_head_text_title_tone.html.j2" %}
