{% include "includes/report_styles_reading_notice_check_list_item_layout.html.j2" %}
{% include "includes/report_styles_reading_notice_check_list_item_sizing.html.j2" %}
{% include "includes/report_styles_reading_notice_check_list_item_spacing.html.j2" %}
{% include "includes/report_styles_reading_notice_check_list_item_frame.html.j2" %}
{% include "includes/report_styles_reading_notice_check_list_item_surface.html.j2" %}
{% include "includes/report_styles_reading_notice_check_list_item_typography.html.j2" %}
