{% include "includes/report_styles_debate_dialogue_frame_container_layout.html.j2" %}
{% include "includes/report_styles_debate_dialogue_frame_container_direction.html.j2" %}
{% include "includes/report_styles_debate_dialogue_frame_container_spacing.html.j2" %}
