{% include "includes/report_styles_sidebar_nav_item_marker_num_typography_size.html.j2" %}
{% include "includes/report_styles_sidebar_nav_item_marker_num_typography_weight.html.j2" %}
{% include "includes/report_styles_sidebar_nav_item_marker_num_typography_tone.html.j2" %}
