{% include "includes/report_styles_reference_frame_title_typography.html.j2" %}
{% include "includes/report_styles_reference_frame_title_transform.html.j2" %}
{% include "includes/report_styles_reference_frame_title_spacing.html.j2" %}
