{% include "includes/report_styles_section_header_frame_layout.html.j2" %}
{% include "includes/report_styles_section_header_frame_spacing.html.j2" %}
{% include "includes/report_styles_section_header_frame_divider.html.j2" %}
