        {% include "includes/report_styles_sidebar_summary_footer_layout.html.j2" %}
        {% include "includes/report_styles_sidebar_summary_footer_spacing.html.j2" %}
        {% include "includes/report_styles_sidebar_summary_footer_divider.html.j2" %}
        {% include "includes/report_styles_sidebar_summary_footer_size.html.j2" %}
        {% include "includes/report_styles_sidebar_summary_footer_tone.html.j2" %}
        {% include "includes/report_styles_sidebar_summary_footer_warning.html.j2" %}
