{% include "includes/report_styles_section_risk_highlights_scenarios.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_downside.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_lists.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_item.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_peer.html.j2" %}
