{% include "includes/report_styles_trade_setup_card_surface_frame_border.html.j2" %}
{% include "includes/report_styles_trade_setup_card_surface_frame_radius.html.j2" %}
{% include "includes/report_styles_trade_setup_card_surface_frame_background.html.j2" %}
