{% include "includes/report_styles_moat_layout_display.html.j2" %}
{% include "includes/report_styles_moat_layout_columns.html.j2" %}
{% include "includes/report_styles_moat_layout_gap.html.j2" %}
{% include "includes/report_styles_moat_layout_spacing.html.j2" %}
