{% include "includes/report_styles_reading_notice_status_badge_color_warning_border.html.j2" %}
{% include "includes/report_styles_reading_notice_status_badge_color_warning_tone.html.j2" %}
{% include "includes/report_styles_reading_notice_status_badge_color_warning_surface.html.j2" %}
