{% include "includes/report_styles_trade_setup_catalyst_body_typography_tone.html.j2" %}
{% include "includes/report_styles_trade_setup_catalyst_body_typography_size.html.j2" %}
{% include "includes/report_styles_trade_setup_catalyst_body_typography_line_height.html.j2" %}
