        {% include "includes/report_styles_sidebar_nav_item_marker_num_sizing.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_marker_num_surface.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_marker_num_layout.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_marker_num_typography.html.j2" %}
