        @media (max-width: 1024px) {
{% include "includes/report_styles_responsive_layout_tablet_grids_charts.html.j2" %}
{% include "includes/report_styles_responsive_layout_tablet_grids_moat.html.j2" %}
{% include "includes/report_styles_responsive_layout_tablet_grids_price_targets.html.j2" %}
        }
