{% include "includes/report_styles_moat_overall_score_typography.html.j2" %}
{% include "includes/report_styles_moat_overall_score_gradient.html.j2" %}
{% include "includes/report_styles_moat_overall_score_rhythm.html.j2" %}
