{% include "includes/report_styles_reading_notice_check_value_tone.html.j2" %}
{% include "includes/report_styles_reading_notice_check_value_alignment.html.j2" %}
{% include "includes/report_styles_reading_notice_check_value_wrapping.html.j2" %}
