{% include "includes/report_styles_section_risk_highlights_scenarios_bear.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_scenarios_base.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_scenarios_bull.html.j2" %}
