        {% include "includes/report_styles_sidebar_summary_recommendation_accent_background.html.j2" %}
        {% include "includes/report_styles_sidebar_summary_recommendation_accent_border.html.j2" %}
        {% include "includes/report_styles_sidebar_summary_recommendation_accent_tone.html.j2" %}
