{% include "includes/report_styles_analysis_card_heading_levels_base_size_primary.html.j2" %}
{% include "includes/report_styles_analysis_card_heading_levels_base_weight.html.j2" %}
{% include "includes/report_styles_analysis_card_heading_levels_base_tone.html.j2" %}
{% include "includes/report_styles_analysis_card_heading_levels_base_spacing_primary.html.j2" %}
{% include "includes/report_styles_analysis_card_heading_levels_base_padding_primary.html.j2" %}
{% include "includes/report_styles_analysis_card_heading_levels_base_divider_primary.html.j2" %}
