        {% include "includes/report_styles_section_layout_content_spacing.html.j2" %}
        {% include "includes/report_styles_section_layout_content_width.html.j2" %}
        {% include "includes/report_styles_section_layout_content_centering.html.j2" %}
