{% include "includes/report_styles_data_trust_card_frame.html.j2" %}
{% include "includes/report_styles_data_trust_head_layout.html.j2" %}
{% include "includes/report_styles_data_trust_copy.html.j2" %}
