{% include "includes/report_styles_trade_setup_risk_badge_medium_border.html.j2" %}
{% include "includes/report_styles_trade_setup_risk_badge_medium_tint.html.j2" %}
{% include "includes/report_styles_trade_setup_risk_badge_medium_text.html.j2" %}
