{% include "includes/report_styles_price_target_text_scenario_typography.html.j2" %}
{% include "includes/report_styles_price_target_text_scenario_tone.html.j2" %}
{% include "includes/report_styles_price_target_text_scenario_tracking.html.j2" %}
{% include "includes/report_styles_price_target_text_scenario_spacing.html.j2" %}
