{% include "includes/report_styles_verdict_banner_shell.html.j2" %}
{% include "includes/report_styles_verdict_banner_signal.html.j2" %}
{% include "includes/report_styles_verdict_banner_meta.html.j2" %}
