{% include "includes/report_styles_trade_setup_catalyst_layout_grid_structure.html.j2" %}
{% include "includes/report_styles_trade_setup_catalyst_layout_grid_spacing.html.j2" %}
{% include "includes/report_styles_trade_setup_catalyst_layout_grid_alignment.html.j2" %}
