{% include "includes/report_styles_base.html.j2" %}
{% include "includes/report_styles_overview.html.j2" %}
{% include "includes/report_styles_sections.html.j2" %}
{% include "includes/report_styles_charts.html.j2" %}
{% include "includes/report_styles_references.html.j2" %}
{% include "includes/report_styles_responsive.html.j2" %}
