{% include "includes/report_styles_section_risk_highlights_downside_severity_critical_border.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_downside_severity_critical_surface.html.j2" %}
