{% include "includes/report_styles_overview_cover_content.html.j2" %}
{% include "includes/report_styles_overview_cover_heading.html.j2" %}
{% include "includes/report_styles_overview_cover_meta.html.j2" %}
