{% include "includes/report_styles_source_audit_status_color_success_skipped_cache_text.html.j2" %}
{% include "includes/report_styles_source_audit_status_color_success_skipped_cache_surface.html.j2" %}
{% include "includes/report_styles_source_audit_status_color_success_skipped_cache_border.html.j2" %}
