        {% include "includes/report_styles_tear_sheet_title_typography.html.j2" %}
        {% include "includes/report_styles_tear_sheet_title_tone.html.j2" %}
        {% include "includes/report_styles_tear_sheet_title_case.html.j2" %}
        {% include "includes/report_styles_tear_sheet_title_spacing.html.j2" %}
