{% include "includes/report_styles_analysis_card_body_paragraph_size.html.j2" %}
{% include "includes/report_styles_analysis_card_body_paragraph_tone.html.j2" %}
{% include "includes/report_styles_analysis_card_body_paragraph_spacing.html.j2" %}
