{% include "includes/report_styles_sidebar_catalyst_text_flow.html.j2" %}
{% include "includes/report_styles_sidebar_catalyst_text_meta.html.j2" %}
{% include "includes/report_styles_sidebar_catalyst_text_body.html.j2" %}
