{% include "includes/report_styles_execution_summary_note_spacing.html.j2" %}
{% include "includes/report_styles_execution_summary_note_tone.html.j2" %}
{% include "includes/report_styles_execution_summary_note_typography.html.j2" %}
