        {% include "includes/report_styles_sidebar_watchlist_button_base_sizing_width.html.j2" %}
        {% include "includes/report_styles_sidebar_watchlist_button_base_sizing_min_height.html.j2" %}
