{% include "includes/report_styles_reading_notice_status_badge_frame_sizing.html.j2" %}
{% include "includes/report_styles_reading_notice_status_badge_frame_spacing.html.j2" %}
{% include "includes/report_styles_reading_notice_status_badge_frame_border.html.j2" %}
{% include "includes/report_styles_reading_notice_status_badge_frame_radius.html.j2" %}
{% include "includes/report_styles_reading_notice_status_badge_frame_surface.html.j2" %}
