        {% include "includes/report_styles_section_layout_content.html.j2" %}
        {% include "includes/report_styles_section_layout_anchor.html.j2" %}
        {% include "includes/report_styles_section_layout_rhythm.html.j2" %}
