{% include "includes/report_styles_source_audit_status_color_success.html.j2" %}
{% include "includes/report_styles_source_audit_status_color_unavailable.html.j2" %}
{% include "includes/report_styles_source_audit_status_color_error.html.j2" %}
