{% include "includes/report_styles_trade_setup_frame_layout_header_structure.html.j2" %}
{% include "includes/report_styles_trade_setup_frame_layout_header_alignment.html.j2" %}
{% include "includes/report_styles_trade_setup_frame_layout_header_spacing.html.j2" %}
