{% include "includes/report_styles_trade_setup_card_surface_sizing.html.j2" %}
{% include "includes/report_styles_trade_setup_card_surface_frame.html.j2" %}
{% include "includes/report_styles_trade_setup_card_surface_spacing.html.j2" %}
