        {% include "includes/report_styles_verdict_banner_text_main_size.html.j2" %}
        {% include "includes/report_styles_verdict_banner_text_main_weight.html.j2" %}
        {% include "includes/report_styles_verdict_banner_text_main_tone.html.j2" %}
        {% include "includes/report_styles_verdict_banner_text_main_rhythm.html.j2" %}
        {% include "includes/report_styles_verdict_banner_text_main_spacing.html.j2" %}
