{% include "includes/report_styles_mode_template_frame.html.j2" %}
{% include "includes/report_styles_mode_template_head_layout.html.j2" %}
{% include "includes/report_styles_mode_template_head_text.html.j2" %}
