{% include "includes/report_styles_source_audit_status_color_success_direct_text.html.j2" %}
{% include "includes/report_styles_source_audit_status_color_success_direct_surface.html.j2" %}
{% include "includes/report_styles_source_audit_status_color_success_direct_border.html.j2" %}
