        {% include "includes/report_styles_sidebar_catalyst_text_meta_detail_tone.html.j2" %}
        {% include "includes/report_styles_sidebar_catalyst_text_meta_detail_size.html.j2" %}
        {% include "includes/report_styles_sidebar_catalyst_text_meta_detail_line_height.html.j2" %}
        {% include "includes/report_styles_sidebar_catalyst_text_meta_detail_spacing.html.j2" %}
