        {% include "includes/report_styles_overview_hero_badge_typography_size.html.j2" %}
        {% include "includes/report_styles_overview_hero_badge_typography_weight.html.j2" %}
        {% include "includes/report_styles_overview_hero_badge_typography_tracking.html.j2" %}
