{% include "includes/report_styles_thesis_synthesis_frame.html.j2" %}
{% include "includes/report_styles_thesis_synthesis_title.html.j2" %}
{% include "includes/report_styles_thesis_synthesis_body.html.j2" %}
