{% include "includes/report_styles_trade_setup_card_direction_long.html.j2" %}
{% include "includes/report_styles_trade_setup_card_direction_short.html.j2" %}
{% include "includes/report_styles_trade_setup_card_direction_neutral.html.j2" %}
