{% include "includes/report_styles_data_trust_quant_warning_margin.html.j2" %}
{% include "includes/report_styles_data_trust_quant_warning_padding.html.j2" %}
{% include "includes/report_styles_data_trust_quant_warning_shape.html.j2" %}
{% include "includes/report_styles_data_trust_quant_warning_surface.html.j2" %}
{% include "includes/report_styles_data_trust_quant_warning_typography.html.j2" %}
{% include "includes/report_styles_data_trust_quant_warning_tone.html.j2" %}
{% include "includes/report_styles_data_trust_quant_warning_strong_tone.html.j2" %}
