{% include "includes/report_styles_audit_banner_sections_block.html.j2" %}
{% include "includes/report_styles_audit_banner_sections_emphasis.html.j2" %}
{% include "includes/report_styles_audit_banner_sections_list.html.j2" %}
