{% include "includes/report_styles_reading_notice_frame_copy_kicker.html.j2" %}
{% include "includes/report_styles_reading_notice_frame_copy_title.html.j2" %}
{% include "includes/report_styles_reading_notice_frame_copy_body.html.j2" %}
