        {% include "includes/report_styles_sidebar_identity_logo.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_ticker.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_name.html.j2" %}
