{% include "includes/report_styles_trade_setup_risk_badge_low_border.html.j2" %}
{% include "includes/report_styles_trade_setup_risk_badge_low_tint.html.j2" %}
{% include "includes/report_styles_trade_setup_risk_badge_low_text.html.j2" %}
