        {% include "includes/report_styles_sidebar_summary_recommendation_spacing_margin.html.j2" %}
        {% include "includes/report_styles_sidebar_summary_recommendation_spacing_padding.html.j2" %}
