    {% include "includes/charts/runtime.html.j2" %}
    {% include "includes/charts/financial.html.j2" %}
    {% include "includes/charts/moat.html.j2" %}
    {% include "includes/charts/valuation.html.j2" %}
    {% include "includes/charts/navigation.html.j2" %}
