        {% include "includes/report_styles_overview_hero_badge_surface_background.html.j2" %}
        {% include "includes/report_styles_overview_hero_badge_surface_border.html.j2" %}
        {% include "includes/report_styles_overview_hero_badge_surface_color.html.j2" %}
