{% include "includes/report_styles_price_target_text_scenario.html.j2" %}
{% include "includes/report_styles_price_target_text_price.html.j2" %}
{% include "includes/report_styles_price_target_text_pct.html.j2" %}
