{% include "includes/report_styles_responsive_layout_mobile_cover_title.html.j2" %}
{% include "includes/report_styles_responsive_layout_mobile_hero_title.html.j2" %}
{% include "includes/report_styles_responsive_layout_mobile_metrics_grid.html.j2" %}
