{% include "includes/report_styles_chart_layout_grid.html.j2" %}
{% include "includes/report_styles_chart_layout_card.html.j2" %}
{% include "includes/report_styles_chart_layout_full_width.html.j2" %}
