{% include "includes/report_styles_moat_overall_label_typography.html.j2" %}
{% include "includes/report_styles_moat_overall_label_tone.html.j2" %}
{% include "includes/report_styles_moat_overall_label_spacing.html.j2" %}
