{% include "includes/report_styles_data_trust_badge_status_colors_fresh.html.j2" %}
{% include "includes/report_styles_data_trust_badge_status_colors_partial.html.j2" %}
{% include "includes/report_styles_data_trust_badge_status_colors_stale.html.j2" %}
{% include "includes/report_styles_data_trust_badge_status_colors_error.html.j2" %}
