        {% include "includes/report_styles_verdict_banner_meta_frame.html.j2" %}
        {% include "includes/report_styles_verdict_banner_meta_label.html.j2" %}
        {% include "includes/report_styles_verdict_banner_meta_value.html.j2" %}
