        {% include "includes/report_styles_overview_hero_copy_highlight_gradient.html.j2" %}
        {% include "includes/report_styles_overview_hero_copy_highlight_clip.html.j2" %}
        {% include "includes/report_styles_overview_hero_copy_highlight_fill.html.j2" %}
