{% include "includes/report_styles_reading_notice_frame_surface_margin.html.j2" %}
{% include "includes/report_styles_reading_notice_frame_surface_spacing.html.j2" %}
{% include "includes/report_styles_reading_notice_frame_surface_border.html.j2" %}
{% include "includes/report_styles_reading_notice_frame_surface_radius.html.j2" %}
{% include "includes/report_styles_reading_notice_frame_surface_tone.html.j2" %}
