{% include "includes/report_styles_moat_overall_frame_surface.html.j2" %}
{% include "includes/report_styles_moat_overall_frame_shape.html.j2" %}
{% include "includes/report_styles_moat_overall_frame_spacing.html.j2" %}
{% include "includes/report_styles_moat_overall_frame_alignment.html.j2" %}
