{% include "includes/report_styles_section_header_marker.html.j2" %}
{% include "includes/report_styles_section_header_title.html.j2" %}
{% include "includes/report_styles_section_header_model_badge.html.j2" %}
