{% include "includes/report_styles_mode_template_chip_pill_frame.html.j2" %}
{% include "includes/report_styles_mode_template_chip_pill_color.html.j2" %}
{% include "includes/report_styles_mode_template_chip_pill_typography.html.j2" %}
