{% include "includes/report_styles_section_risk_highlights_item_layout_display.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_item_layout_columns.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_item_layout_spacing.html.j2" %}
