{% include "includes/report_styles_section_header_model_badge_alignment.html.j2" %}
{% include "includes/report_styles_section_header_model_badge_typography.html.j2" %}
{% include "includes/report_styles_section_header_model_badge_surface.html.j2" %}
{% include "includes/report_styles_section_header_model_badge_frame.html.j2" %}
