{% include "includes/report_styles_moat_score_rows_item_display.html.j2" %}
{% include "includes/report_styles_moat_score_rows_item_alignment.html.j2" %}
{% include "includes/report_styles_moat_score_rows_item_gap.html.j2" %}
