{% include "includes/report_styles_overview_hero_badge_layout.html.j2" %}
{% include "includes/report_styles_overview_hero_badge_surface.html.j2" %}
{% include "includes/report_styles_overview_hero_badge_typography.html.j2" %}
{% include "includes/report_styles_overview_hero_badge_frame.html.j2" %}
