        {% include "includes/report_styles_sidebar_nav_item_marker_num_sizing_dimensions_width.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_marker_num_sizing_dimensions_height.html.j2" %}
