{% include "includes/report_styles_source_tooltip_frame_surface_position.html.j2" %}
{% include "includes/report_styles_source_tooltip_frame_surface_layer.html.j2" %}
{% include "includes/report_styles_source_tooltip_frame_surface_width.html.j2" %}
{% include "includes/report_styles_source_tooltip_frame_surface_spacing.html.j2" %}
{% include "includes/report_styles_source_tooltip_frame_surface_border.html.j2" %}
{% include "includes/report_styles_source_tooltip_frame_surface_radius.html.j2" %}
{% include "includes/report_styles_source_tooltip_frame_surface_background.html.j2" %}
{% include "includes/report_styles_source_tooltip_frame_surface_tone.html.j2" %}
{% include "includes/report_styles_source_tooltip_frame_surface_interaction.html.j2" %}
