{% include "includes/report_styles_audit_banner_frame_surface.html.j2" %}
{% include "includes/report_styles_audit_banner_frame_border.html.j2" %}
{% include "includes/report_styles_audit_banner_frame_shape.html.j2" %}
{% include "includes/report_styles_audit_banner_frame_spacing.html.j2" %}
