{% include "includes/report_styles_source_tooltip_content_flow.html.j2" %}
{% include "includes/report_styles_source_tooltip_content_title.html.j2" %}
{% include "includes/report_styles_source_tooltip_content_meta.html.j2" %}
{% include "includes/report_styles_source_tooltip_content_body.html.j2" %}
