{% include "includes/report_styles_moat_score_bar_wrapper.html.j2" %}
{% include "includes/report_styles_moat_score_bar_fill.html.j2" %}
{% include "includes/report_styles_moat_score_bar_num.html.j2" %}
