{% include "includes/report_styles_trade_setup_risk_badge_high.html.j2" %}
{% include "includes/report_styles_trade_setup_risk_badge_medium.html.j2" %}
{% include "includes/report_styles_trade_setup_risk_badge_low.html.j2" %}
