{% include "includes/report_styles_trade_setup_catalyst_layout.html.j2" %}
{% include "includes/report_styles_trade_setup_catalyst_label.html.j2" %}
{% include "includes/report_styles_trade_setup_catalyst_body.html.j2" %}
