{% include "includes/report_styles_reference_frame_grid_structure.html.j2" %}
{% include "includes/report_styles_reference_frame_grid_columns.html.j2" %}
{% include "includes/report_styles_reference_frame_grid_spacing.html.j2" %}
