{% include "includes/report_styles_debate_conclusion_card_layout.html.j2" %}
{% include "includes/report_styles_debate_conclusion_card_spacing.html.j2" %}
{% include "includes/report_styles_debate_conclusion_card_surface.html.j2" %}
{% include "includes/report_styles_debate_conclusion_card_shape.html.j2" %}
