{% include "includes/report_styles_reference_item_card_frame_spacing.html.j2" %}
{% include "includes/report_styles_reference_item_card_frame_surface.html.j2" %}
{% include "includes/report_styles_reference_item_card_frame_outline.html.j2" %}
