{% include "includes/report_styles_chart_canvas_title_typography.html.j2" %}
{% include "includes/report_styles_chart_canvas_title_tone.html.j2" %}
{% include "includes/report_styles_chart_canvas_title_spacing.html.j2" %}
{% include "includes/report_styles_chart_canvas_title_tracking.html.j2" %}
{% include "includes/report_styles_chart_canvas_wrapper_position.html.j2" %}
{% include "includes/report_styles_chart_canvas_wrapper_height.html.j2" %}
{% include "includes/report_styles_chart_canvas_wrapper_tall_height.html.j2" %}
