        {% include "includes/report_styles_overview_hero_background_before_geometry_offset_top.html.j2" %}
        {% include "includes/report_styles_overview_hero_background_before_geometry_offset_right.html.j2" %}
