{% include "includes/report_styles_moat_score_bar_wrapper_flex.html.j2" %}
{% include "includes/report_styles_moat_score_bar_wrapper_height.html.j2" %}
{% include "includes/report_styles_moat_score_bar_wrapper_surface.html.j2" %}
{% include "includes/report_styles_moat_score_bar_wrapper_shape.html.j2" %}
{% include "includes/report_styles_moat_score_bar_wrapper_overflow.html.j2" %}
