        {% include "includes/report_styles_final_verdict_frame_card_surface.html.j2" %}
        {% include "includes/report_styles_final_verdict_frame_card_shape.html.j2" %}
        {% include "includes/report_styles_final_verdict_frame_card_padding.html.j2" %}
        {% include "includes/report_styles_final_verdict_frame_card_margin.html.j2" %}
        {% include "includes/report_styles_final_verdict_frame_header_display.html.j2" %}
        {% include "includes/report_styles_final_verdict_frame_header_alignment.html.j2" %}
        {% include "includes/report_styles_final_verdict_frame_header_gap.html.j2" %}
        {% include "includes/report_styles_final_verdict_frame_header_spacing.html.j2" %}
