{% include "includes/report_styles_trade_setup_risk_badge_base_frame_sizing.html.j2" %}
{% include "includes/report_styles_trade_setup_risk_badge_base_frame_border.html.j2" %}
{% include "includes/report_styles_trade_setup_risk_badge_base_frame_spacing.html.j2" %}
