{% include "includes/report_styles_debate_conclusion_card.html.j2" %}
{% include "includes/report_styles_debate_conclusion_text.html.j2" %}
{% include "includes/report_styles_debate_narration.html.j2" %}
