        {% include "includes/report_styles_debate_dialogue_message_avatar_spacing.html.j2" %}
        {% include "includes/report_styles_debate_dialogue_message_avatar_shape.html.j2" %}
        {% include "includes/report_styles_debate_dialogue_message_avatar_text.html.j2" %}
        {% include "includes/report_styles_debate_dialogue_message_avatar_layout.html.j2" %}
