{% include "includes/report_styles_section_risk_highlights_downside_lead_tone.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_downside_lead_spacing.html.j2" %}
{% include "includes/report_styles_section_risk_highlights_downside_lead_typography.html.j2" %}
