{% include "includes/report_styles_section_header_marker_sizing.html.j2" %}
{% include "includes/report_styles_section_header_marker_surface.html.j2" %}
{% include "includes/report_styles_section_header_marker_layout.html.j2" %}
{% include "includes/report_styles_section_header_marker_typography.html.j2" %}
