        {% include "includes/report_styles_sidebar_nav_item_states_hover_active.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_states_focus.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_states_disabled.html.j2" %}
