{% include "includes/report_styles_trade_setup_frame_heading_eyebrow_typography_size.html.j2" %}
{% include "includes/report_styles_trade_setup_frame_heading_eyebrow_typography_weight.html.j2" %}
{% include "includes/report_styles_trade_setup_frame_heading_eyebrow_typography_tracking.html.j2" %}
