        {% include "includes/report_styles_sidebar_watchlist_button_base_typography_size.html.j2" %}
        {% include "includes/report_styles_sidebar_watchlist_button_base_typography_weight.html.j2" %}
