{% include "includes/report_styles_execution_summary_item_text_value_tone.html.j2" %}
{% include "includes/report_styles_execution_summary_item_text_value_size.html.j2" %}
{% include "includes/report_styles_execution_summary_item_text_value_leading.html.j2" %}
