{% include "includes/report_styles_execution_summary_frame.html.j2" %}
{% include "includes/report_styles_execution_summary_head_layout.html.j2" %}
{% include "includes/report_styles_execution_summary_head_text.html.j2" %}
