{% include "includes/report_styles_trade_setup_responsive_mobile_header.html.j2" %}
{% include "includes/report_styles_trade_setup_responsive_mobile_grid_cards.html.j2" %}
{% include "includes/report_styles_trade_setup_responsive_mobile_catalyst.html.j2" %}
