        {% include "includes/report_styles_sidebar_watchlist_button_base_surface_border.html.j2" %}
        {% include "includes/report_styles_sidebar_watchlist_button_base_surface_radius.html.j2" %}
        {% include "includes/report_styles_sidebar_watchlist_button_base_surface_background.html.j2" %}
