        {% include "includes/report_styles_debate_dialogue_message_content_surface.html.j2" %}
        {% include "includes/report_styles_debate_dialogue_message_content_shape.html.j2" %}
        {% include "includes/report_styles_debate_dialogue_message_content_spacing.html.j2" %}
        {% include "includes/report_styles_debate_dialogue_message_content_text.html.j2" %}
