{% include "includes/report_styles_price_target_card_surface.html.j2" %}
{% include "includes/report_styles_price_target_card_shape.html.j2" %}
{% include "includes/report_styles_price_target_card_spacing.html.j2" %}
{% include "includes/report_styles_price_target_card_alignment.html.j2" %}
