        @media (max-width: 1024px) {
{% include "includes/report_styles_responsive_layout_tablet_shell_sidebar.html.j2" %}
{% include "includes/report_styles_responsive_layout_tablet_shell_main.html.j2" %}
        }
