        {% include "includes/report_styles_sidebar_identity_ticker_size.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_ticker_weight.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_ticker_gradient.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_ticker_clip.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_ticker_fill.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_ticker_tracking.html.j2" %}
