        {% include "includes/report_styles_sidebar_identity_name_size.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_name_tone.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_name_spacing.html.j2" %}
        {% include "includes/report_styles_sidebar_identity_name_weight.html.j2" %}
