{% include "includes/report_styles_sidebar_nav_item_base_layout_display.html.j2" %}
{% include "includes/report_styles_sidebar_nav_item_base_layout_align_items.html.j2" %}
{% include "includes/report_styles_sidebar_nav_item_base_layout_gap.html.j2" %}
