{% include "includes/report_styles_mode_template_body_grid_layout.html.j2" %}
{% include "includes/report_styles_mode_template_body_grid_label.html.j2" %}
{% include "includes/report_styles_mode_template_body_grid_copy.html.j2" %}
