        {% include "includes/report_styles_sidebar_nav_item_base_layout.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_base_spacing.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_base_surface.html.j2" %}
        {% include "includes/report_styles_sidebar_nav_item_base_typography.html.j2" %}
